*{
    box-sizing: border-box;
}
body{
    font-family: Arial;
    margin: 0;
}
.rows{
    display: flex;
    flex-wrap: wrap;
}
.navbar{
    flex: 30%;
    background-color: #f1f1f1;
    padding: 30px;
    flex-direction: column;
}
.homepage{
    flex: 70%;
    background-color: rgb(250, 113, 49);
    padding: 30px;
}
.footer{
    padding: 20px;
    text-align: center;
    background: #ddd;
}